<h2>Welcome Back to Penda!</h2>

<p>
<%= link_to fa_stacked_icon('facebook', text: 'Log in with Facebook', class: "fa-fw"), '/auth/facebook' %>
<%= link_to fa_stacked_icon('google', text: 'Log in with Google', class: "fa-fw"), '/auth/google_oauth2' %><br>
</p>

<%= form_tag '/sessions' do %>
  <div class="field">
      <strong>Email:</strong><br>
      <%= email_field_tag :email, "", autofocus: true, autocomplete: "email", class: "field" %>
    </div>
    
  <div class="field">
      <strong>Password:</strong><br>
      <%= password_field_tag :password, "", autocomplete: "current-password", class: "field" %>
  </div>

  <div class="actions">
      <p><%= submit_tag "Log In", class: "btn btn-primary" %></p>
  </div>
<% end %>

