<div id="welcome-splash-mini">
    <div id="welcome-logo-mini">
        <%= link_to "penda", root_path, id: "logo-link" %>
    </div> 
</div>

<p>
Log in with:
<%= link_to fa_stacked_icon('facebook-square', text: '', class: "fa-fw"), '/auth/facebook' %>
<%= link_to fa_stacked_icon('google', text: '', class: "fa-fw"), '/auth/google_oauth2' %><br>
</p>

<%= form_tag '/sessions' do %>
    
    <div class="form-group col-md-4 mx-auto">
        <strong>Email:</strong><br>
        <%= email_field_tag :email, "", autofocus: true, autocomplete: "email", class: "form-control" %>
    </div>

    <div class="form-group col-md-4 mx-auto">
        <strong>Password:</strong><br>
        <%= password_field_tag :password, "", autofocus: true, autocomplete: "current-password", class: "form-control" %>
    </div>
hihih
  <div class="actions">
      <p><%= submit_tag "Log In", class: "btn btn-primary", onclick: "logInUser();" %></p>
  </div>
<% end %>

