<%= form_for comment, class: "was-validated" do |f| %>
    <% if comment.errors.any? %>
      <div id="error_explanation">
        <h2> Oops! Looks like something was missing. </h2>
        <ul>
          <% comment.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= f.hidden_field :project_id, :value => @project.id %>
    <%= f.hidden_field :user_id, :value => current_user.id %>
  
    <div class="form-row">
      <div class="form-group col-md-5">         
        <span><%= f.label :content, "New Comment:" %></span>
        <%= f.text_area :content, autofocus: true, autocomplete: "content", class: "form-control" %>
      </div>
    </div>

    <%= f.submit "Submit", class: "btn btn-primary" %>
<% end %>