<h1>Projects:</h1>
<div class="btn-group" role="group">
    <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Status
    </button>
    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
        <%= link_to "Active", {controller: "home", action: "dashboard", status: "active"}, class: "dropdown-item" %>
        <%= link_to "Completed", {controller: "home", action: "dashboard", status: "completed"}, class: "dropdown-item" %>
    </div>
</div>
<ul class="list-group">
    <% if @projects != [] %>
        <% @projects.each do |p| %>
            <li class="list-group-item"><strong>Title:</strong> <%= link_to p.title, project_path(p) %> | <strong>Time Invested:</strong> <%= project_total_hours(p) %>  | <strong>Last Update:</strong> <%= p.last_updated %></li>
        <% end %>
    <% else %>
        No current projects. Click 'Create Project' to get started.
    <% end %>
</ul>