<h1>Create a New Project</h1>

<%= form_for @project do |f| %>
    <%= f.hidden_field :business_id, :value => current_user.id %>
  
    <div class="field">
      <%= f.label :title %><br />
      <%= f.text_field :title, autofocus: true, autocomplete: "title" %>
    </div>
  
    <div class="field">
      <%= f.label "client_email" %><br />
      <%= f.text_field :client, autofocus: true, autocomplete: "client email" %>
    </div>

    <div class="actions">
      <%= f.submit "Submit" %>
    </div>

<% end %>