<h1>Create a New Project</h1>

<%= form_for @project do |f| %>
    <%= f.hidden_field :business_id, :value => current_user.id %>

    <% if @project.errors.any? || @project.client.errors.any? %>
        <div id="error_explanation">
          <h2> Oops! Looks like something was missing. </h2>
          <ul>
                <% @project.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
  
                <% @project.client.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
          </ul>
        </div>
    <% end %>
  
    <div class="field">
      <%= f.label :title %><br />
      <%= f.text_field :title, autofocus: true, autocomplete: "title" %>
    </div>
  
    <% if has_permission? %>
    Client Information:
      <%= f.fields_for :client do |c| %>
        <div class="field">
          <%= c.label :first_name %>
          <%= c.text_field :first_name, autofocus: true, autocomplete: "title" %>
        </div> 

        <div class="field">
          <%= c.label :last_name %>
          <%= c.text_field :last_name, autofocus: true, autocomplete: "title" %>
        </div>

        <div class="field">
          <%= c.label :email %>
          <%= c.email_field :email, autofocus: true, autocomplete: "title" %>
        </div>
      <% end %>
    <% end %>

    <div class="actions">
      <%= f.submit "Submit" %>
    </div>

<% end %>