<h1><%= @project.title %></h1>

<% if professional_use? %>
    <p>
    <strong>Business:</strong> <%= business_full_name %><br>
    <strong>Client:</strong> <%= client_full_name %><br>
    <strong>Total Billable Time:</strong> <%= project_total_hours(@project) %>
    <p>
<% else %>
    <p><strong>Total Time:</strong> <%= project_total_hours(@project) %></p>
<% end %>

<h2>Time Entries:</h2>

<p>Displaying the five most recent entries:</p>

<ul class="list-group">
    <% if project_has_time_entries? %> 
        <% latest_entries.each do |t| %> 
            <li class="list-group-item"><strong>Title:</strong> <%= link_to t.title, project_time_entry_path(@project, t) %> | <strong>Duration:</strong> <%= time_duration(t) %> | <strong>Created:</strong> <%= t.created_at.strftime("%A, %d %b %Y %l:%M %p") %></li>
        <% end %>
    <% else %>
        No recorded time entries. 
    <% end %>
</ul>

<br>
<% if permitted_to_take_action? %>
    <div class="te-display-group">
        <div class="btn-group" role="group" aria-label="Button group for time entries">
            <%= button_to 'Add New Entry', new_project_time_entry_path(@project), class: 'btn btn-primary', method: :get %>
            <%= button_to 'All Time Entries', project_time_entries_path(@project), class: 'btn btn-secondary', method: :get %>
        </div> <!-- .btn-group -->
    </div> <!-- .te-display-group -->
<% else %>
    <%= button_to 'All Time Entries', project_time_entries_path(@project), class: 'btn btn-secondary', method: :get %>
<% end %>

<h2>Conversation History:</h2>

<!-- <%= link_to "Load Comments", project_comments_path(@project), class: "load-comments" %> -->

<ul class="list-group" id="comment-list">
    <% if project_has_comments? %> 
        <% recent_comments.each do |c| %> <!-- see projects helper -->
            <% if c.user == current_user %>
                <li class="list-group-item"><strong><%= c.user.username %></strong> says: <%= c.content %> | <strong>Posted at:</strong> <%= c.time_created %> <%= link_to "X", comment_path(c), data: { confirm: "Are you sure?" }, method: :delete, class: "btn-sm btn-danger pull-right buttonJS" %></li>
            <% else %>
                <li class="list-group-item"><strong><%= c.user.username %></strong> says: <%= c.content %> | <strong>Posted at:</strong> <%= c.time_created %></li>
            <% end %>
        <% end %>
    <% else %>
        No comments yet. 
    <% end %>
</ul>

<p><%= button_to 'All Comments', project_comments_path(@project), class: 'btn btn-secondary', method: :get %><p>

<h2>Join the Conversation:</h2>

<p><%= render partial: 'comments/comment', locals: {comment: @comment} %></p>

<% if permitted_to_take_action? %>
    <div class="te-display-group">
        <div class="btn-group" role="group" aria-label="Button group for project status">
            <p><%= button_to 'Mark Project Completed', project_path(@project), data: { confirm: "Are you sure?" }, class: 'btn btn-danger', method: :patch %><p>
        </div> <!-- btn-group -->
    </div> <!-- row -->
<% end %>

<br>

<% if permitted_to_take_action? %>
    <h3>Delete Project</h3>

    Warning! This cannot be undone.

    <p><%= button_to "Delete This Project", project_path(@project), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger" %></p>
<% end %>