<h1><%= @project.title %></h1>

<% if business_user? %>
    <p>
    <strong>Client:</strong> <%= @project.client.first_name %> <%= @project.client.last_name %><br>
    <strong>Total Billable Time:</strong> <%= project_total_hours(@project) %>
    <p>
<% else %>
    <strong>Total Time:</strong> <%= project_total_hours(@project) %>
<% end %>

<h2>Time Entries:</h2>

<p><%= button_to 'Add New Entry', new_project_time_entry_path(@project), class: 'btn btn-primary', method: :get %></p>

<ul class="list-group">
    <% if @project.time_entries != [] %>
        <% @project.time_entries.each do |t| %>
            <li class="list-group-item"><strong>Title:</strong> <%= link_to t.title, time_entry_path(@project, t) %> | <strong>Duration:</strong> <%= time_duration(t) %> </li>
        <% end %>
    <% else %>
        No recorded time entries. Click 'Add New Entry' to get started.
    <% end %>
</ul>
