<h1><%= @project.title %></h1>

<% if business_user? || @project.business_id %>
    <p>
    <strong>Business:</strong> <%= @project.business.first_name %> <%= @project.business.last_name %><br>
    <strong>Client:</strong> <%= @project.client.first_name %> <%= @project.client.last_name %><br>
    <strong>Total Billable Time:</strong> <%= project_total_hours(@project) %>
    <p>
<% else %>
    <p><strong>Total Time:</strong> <%= project_total_hours(@project) %></p>
<% end %>

<h2>Time Entries:</h2>

<% if permitted_to_take_action? %>
    <div class="te-display-group">
        <div class="btn-group" role="group" aria-label="Button group for time entries">
            <%= button_to 'Add New Entry', new_project_time_entry_path(@project), class: 'btn btn-primary', method: :get %>
            <%= button_to 'All Time Entries', project_time_entries_path(@project), class: 'btn btn-secondary', method: :get %>
        </div> <!-- btn-group -->
    </div> <!-- row -->
<% else %>
    <%= button_to 'All Time Entries', project_time_entries_path(@project), class: 'btn btn-secondary', method: :get %>
<% end %>

<p>Displaying the five most recent entries:</p>

<ul class="list-group">
    <% if @project.time_entries != [] %> 
        <% latest_entries.each do |t| %> <!-- see projects helper -->
            <li class="list-group-item"><strong>Title:</strong> <%= link_to t.title, time_entry_path(@project, t) %> | <strong>Duration:</strong> <%= time_duration(t) %> | <strong>Created:</strong> <%= t.created_at.strftime("%A, %d %b %Y %l:%M %p") %></li>
        <% end %>
    <% else %>
        No recorded time entries. 
    <% end %>
</ul>

<h2>Conversation History:</h2>

<ul class="list-group">
    <% if @project.comments.exists? %> 
        <% recent_comments.each do |c| %> <!-- see projects helper -->
            <li class="list-group-item"><strong><%= c.user.username %></strong> says: <%= c.content %> | <strong>Posted at:</strong> <%= c.created_at.strftime("%A, %d %b %Y %l:%M %p") %></li>
        <% end %>
    <% else %>
        No comments yet. 
    <% end %>
</ul>

<p><%= button_to 'All Comments', project_comments_path(@project), class: 'btn btn-secondary', method: :get %><p>

<h2>Join the Conversation:</h2>

<p><%= render partial: 'comments/comment', locals: {comment: @comment} %></p>

<% if permitted_to_take_action? %>
    <div class="te-display-group">
        <div class="btn-group" role="group" aria-label="Button group for project status">
            <p><%= button_to 'Mark Project Completed', project_path(@project), data: { confirm: "Are you sure?" }, class: 'btn btn-danger', method: :patch %><p>
        </div> <!-- btn-group -->
    </div> <!-- row -->
<% end %>
