<!DOCTYPE html>
<html lang="en">
<html>
  <head>
    <title>PendaApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= favicon_link_tag asset_path('favicon (3).ico') %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=BioRhyme|Black+Ops+One|Bungee|Bungee+Shade|Creepster|Ewert|Fruktur|Gravitas+One|Monoton|Rubik:900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Alegreya|Alegreya+Sans|Merriweather|Merriweather+Sans|Nunito|Nunito+Sans|Quattrocento|Quattrocento+Sans|Roboto|Roboto+Mono|Roboto+Slab" rel="stylesheet">

    <script type="text/javascript">
      if (window.location.hash && window.location.hash == '#_=_') { window.location.hash = ''; }
    </script>
  </head>

  <body>

    <nav class="navbar fixed-top navbar-dark bg-dark custom-nav-font navbar-expand-lg">
      <div class="container-fluid">
        <div class="navbar-header">
          <%= link_to image_tag("favicon-256.png", width: "30", height: "30", alt: ""), dashboard_path, class: "d-inline-block align-top" %> 
          <span class= "nav-welcome-logo">penda</span>
        </div> <!-- .navbar-header -->

        <button class="navbar-toggler navbar-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Projects
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <%= link_to "New Project", new_project_path, class: "dropdown-item" %>
                <%= link_to "All Projects", dashboard_path, class: "dropdown-item" %>
              </div>
            </li>

            <% if business_signed_in? %> <!-- options for busienss user -->

              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <%= current_user.username %>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <%= link_to 'Edit profile', edit_business_path(current_user), class: 'dropdown-item' %>
                  <%= link_to "Log Out", session_path(current_user), method: :delete, class: 'dropdown-item' %>
                </div>
              </li>
          
            <% else %>  <!-- options for client user -->

              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <%= current_user.username %>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <%= link_to 'Edit Profile', edit_client_path(current_user), class: 'dropdown-item' %>
                  <%= link_to 'Log Out', session_path(current_user), method: :delete, :class => 'dropdown-item' %>
                </div>
              </li>

            <% end %>
          </ul>
        </div> <!-- .nav collapse -->
      </div> <!-- .container-fluid -->
    </nav> <!-- .navbar -->

    <div class="container">
      <div class=""row align-items-center">
        <div class="col-12 mx-auto text-center flash-box">
          <p class="notice"><%= notice %></p>
          <p class="alert"><%= alert %></p>
        </div>
      </div>
    </div>

    <div class="container">
      <%= yield %>
    </div>
    
  </body>
</html>
